* { 
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.editor-container {
  display: flex;
  height: 100vh;
}

.editor-wrapper,
.preview-container {
  flex: 1;
}

@media (max-width: 960px) {
  .editor-container {
    flex-direction: column;
  }

  .editor-wrapper,
  .preview-container {
    flex: 1;
    width: 100vw;
  }
}
